
.button {
    display: block;
    margin: 4px auto;
}

img {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}




.viewer {	
	position: absolute;
	left: 25px;
	top: 75px;

    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 1em;
    color: #000;
    
    float: left;
    display: inline-block;
    min-width: 700px;
    overflow: none;
    
    padding: 5px 10px;
    border: solid 4px #000;
    border-radius: 10px;
    box-shadow: -5px 5px 15px grey;
    
    background: #696E6A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#696E6A, #292929); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#696E6A, #292929); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#696E6A, #292929); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#696E6A, #292929); /* Standard syntax */
}

.viewer-title {
    font-size: 2.5em;
    text-align: center;
    
    margin-bottom: 15px;
    padding: 15px 0px 0px 0px;
    
    border-bottom: 1px solid #000;
}

.viewer-view {
    resize: both;
    overflow: auto;
    height: 400px;
    width: 100%;
}

.viewer-info {
    padding: 3px 5px 5px 5px;
    margin-top: 10px;
    overflow: auto;
}

.viewer-data {
	display: block;
	
    float: left;
    width: 45%;
    height: 100%;
    
    padding-left: 2%;
    padding-right: 2%;
    
    font-size: 125%;
}

.viewer-data-header {
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: solid 2px #fff;
	margin-bottom: 15px;
	
    font-size: 150%;
	text-align: center;
	color: #fff;
}

.viewer-data-text {
	font-size: 125%;
	text-align: center;
	color: #fff;
}

.viewer-data-text-unselected {
	color: #888;
}

.border-right {
	border-right: solid 2px #fff;
}
.border-left {
	border-left: solid 2px #fff;
}










.box {
    display: inline-block;
    min-width: 300px;
    min-height: 200px;
    
    position: absolute;
	left: 25px;
	top: 25px;
	
    margin: 10px 5px 5px 5px;
    padding: 0px;
    
    background-color: #e3e3e3;
    border: solid 5px #292929;
	border-radius: 10px 0px 0px 0px;
    box-shadow: 5px 5px 15px grey;
    
    text-align: center;
    font-size: 1.5em;
}

.box-mini {
	display: inline-block;
	min-width: 250px;
	
	margin-top: 5px;
	margin-left: 5px;
	
	text-align: center;
    font-size: 1.5em;
	
    border: solid 5px #292929;
	border-radius: 10px 0px 0px 0px;
	
	float: right;
}

.box-title {
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
	
	position: relative;

	background-color: #292929;
	border-bottom: solid 2px #000;
	
	color: #fff;
	font-size: 2em;
	text-align: left;
}

.box-title-mini {
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
	
	position: relative;

	background-color: #292929;
	
	color: #fff;
	font-size: 2em;
	text-align: left;
}

.box-image-close {
	position: absolute;
	top: 0px;
	right: 1px;
}

.box-image-minimax {
	position: absolute;
	top: 4px;
	right: 42px;
}

.box-body {
	
}

.box-text {

}

.box-text-container {
	padding: 0px 10px;
}

.box-line {
	width: 100%;
	border-bottom: solid 1px #000;
}

.boxtext-label {
	color: #000;
	font-weight: bold;
}

.boxtext-value {
	color: #000;
}


#box-minimized-bar {
	position: fixed;
	right: 5px;
	bottom: 1px;
}




#cmd {
	width: 50%;

    position: fixed;
    bottom: 5px;
    right: 5px;
    
    z-index: 100;
}



























