body {
    background: #494949;
}

#table {
    display: block;
    width: 1000px;
    height: 750px;

    background: #494949;
}

.cmdline-ctr {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.button {
    display: block;
    margin: 2px;
    font-size: 125%;
}

.inline-button {
    display: inline-block;
    margin: 2px;
    font-size: 125%;
}

.col-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.col-2 {

}

.col-separator-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.col-separator {
    width: 2px;
    height: 100%;

    background-color: #FFF;
}

@keyframes materialResponse {
    0% {
        width: 0;
        height: 0;
        margin: 0;
        background: rgba(255,255,255,0.1);
    }
    100% {
        background: rgba(255,255,255,0.4);
    }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    filter: alpha(opacity=100); /* IE8 and lower */
    zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.material-icons:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    zoom: 1;
}
