.box-ctr {
    display: inline-block;
    background: #DDDDDD;
    border-radius: 10px 0px 0px 0px;
    border: 5px solid #1E1E1E;
    box-shadow: 5px 5px 15px #0D0D0D;
    min-width: 300px;
    min-height: 200px;
}

/*148DD9*/
.box-title {
    background: #1E1E1E;
    color: #FFFFFF;
    font-size: 250%;
    padding: 5px;
}
