.histo-ctr {
    position: absolute;
    left: 500px;
    top: 50px;

    width: 600px;
    height: 400px;

    border: solid 2px #aaf;
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 15px #0D0D0D;
}

.histo-title {
    text-align: center;
    font-size: 200%;
    border-bottom: solid 1px #000;
    margin-bottom: 10px;
}
