.term-ctr {
  background: #1E1E1E;
  color: #fff;

  border-radius: 10px;
  border: solid 1px #AAA;

  padding: 10px 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



.term-help-ctr {
    font-size: 150%;
    color: #888;
    width: 100%;
    border-bottom: solid 1px #AAA;
    margin-bottom: 5px;
    padding: 10px 0px 3px 0px;
}

.term-help-info-ctr {
    background: #555;
    border-radius: 5px;
    margin-top: 3px;
    border-top: dotted 1px #AAA;
    padding-top: 3px;
    margin-bottom: 3px;
    box-shadow: 5px 5px 15px #222;
}

.term-help-desc {
    color: #DDD;
}

.term-help-param {
    color: #DDD;
}

.term-help-command {
    display: inline;
    color: #888;
}

.term-help-descHeader {
    color: #AAF;
}

.term-help-highlight {
    color: #FFF;
}



.term-body-ctr {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;

  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.term-body-entry {
    font-size: 150%;
}




.term-input-input {
  background-color: #1E1E1E;
  color: #fff;
  font-size: 150%;
  width: 100%;
  padding: 3px 0px;
}
