
.cmd_container {
	
	background-color: #000;
	
	overflow: hidden;
	padding: 15px 20px 15px 20px;
	border-radius: 10px;
	
	font-size: 1em;
	
	position: relative;
	
	box-shadow: 7px 7px 15px grey;
	
}

.cmd_help_container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 3px;
	border-bottom: 2px solid #777;
	margin-bottom: 5px;
	
	font-size: .9em;
	height: .9em;
	line-height: .9em;
}

.cmd_help {
	
	color: #777;
	float: left;
	
}

.cmd_help_sub {
	color: #aaa;
	float: right;
}

.cmd_input {
	
	background-color: #000;
	color: #fff;
	
	width: 95%;
	
	position: absolute;
	bottom: 5px;
	right: auto;
	left: auto;
	
	padding: 3px 1px 3px 0px;
	
	font-size:125%;
	
}

.cmd_output {
	
	font-size: 90%;
	margin-bottom: 5px;
	overflow-y: scroll;
	word-wrap: break-word;
	
}

.echo_output_text {
	color: #aaa;
	display: inline;
}

.echo_output_command {
	color: #fff;
    display: inline;
}

.cmd_highlight {	
	color: #fff;	
}

a {
	color:#aaf;
}


#cmd_popup_container {
	display: inline-block;
	background-color: transparent;
}

#cmd_popup_listcontainer {
	display: inline-block;
	
	padding: 1px 5px;
	
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #00CED1;
	
	cursor: pointer;
}

.cmd_popup_element {
	margin: 2px 0px;
	
	font-size: 125%;
	
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.cmd_popup_element:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}



.cmd_examples {
  position: absolute;
  
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  
  padding: 10px;
  margin-bottom: 5px;
  
  display: none;
  z-index: 999;
}

.cmd_examples > p {
  margin-bottom: 2px;
}















